@font-face {
    font-family: 'Fruktur';
    src: url('./fonts/Fruktur-Regular.ttf');
}


body {
    font-family: 'Inter', sans-serif !important;
    background: #F8EDE7 !important;
}

.snack {
    z-index: 10000;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 1.2rem;
    box-shadow: 0 0 64px white, 0 0 32px white, 0 0 16px white;
    background: black !important;
    color: white;
    width: 100%;
    padding: 8px;
    padding-bottom: 16px;
    text-align: center;
    animation: slide-in cubic-bezier(0, 0.8, 0.08, 1) 0.8s;
    animation-fill-mode: forwards;
}



@keyframes spinner { 
    from 
    { 
      transform: rotateY(0deg); 
    } 
    to { 
      transform: rotateY(-360deg); 
    } 
  } 

@keyframes pulse { 
from 
{ 
    transform: scale(1, 1); 
} 
to { 
    transform: scale(1.05, 1.05);
} 
} 


.token {
    position: fixed;
    top: 0; left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    animation: fade-in cubic-bezier(0, 0.8, 0.08, 1) 0.8s;
    animation-fill-mode: forwards;
    backdrop-filter: brightness(4) blur(20px);
    
    > div {
        

        background: white;
        position: relative;
        width: 100%;
        > h3 {
            text-align: center;
            margin: 0;
            padding: 8px;
        }
    
        img, iframe, video {
            width: 100%;
            margin-bottom: -2px;
        }
    }

   
}
.token-detail {
    padding: 16px;
    button {
        display: block;
        margin-left: 0;
    }
}


.pulse-button {
animation-name: pulse; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    animation-duration: 1s; 
}


.loading {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        animation-name: spinner; 
        animation-timing-function: linear; 
        animation-iteration-count: infinite; 
        animation-duration: 2s; 
        width: 300px;
    }
}

#guest {
    margin-top: 96px;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#containerNavBar{
    background: #F8EDE7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#navBar {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: static;
    width: 880px;
    height: 80px;
    left: 30px;
    top: 250px;
    
    > div {
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        background: #F8EDE7;

        position: static;
        height: 80px;
        top: 0px;

        #tabs {
            
            position: relative;
            display: flex;
            justify-content: start;
            align-items: center;
            cursor: pointer;
            margin-left: 50px;
            >.links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;

                position: static;
                width: 82px;
                height: 17px;
                left: 175px;
                top: 0px;
                
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
                /* identical to box height */
                
                letter-spacing: 0.05em;
                
                color: #915731;

                > .menuSelected{
                
                    position: static;
                    width: 36.01px;
                    height: 0px;
                    left: 4.5px;
                    top: 17.01px;
                
                    border: 1px solid #D18436;
                    transform: rotate(-1.6deg);
                                
                }
                
                > .menuNoSelected{
                
                    position: static;
                    width: 36.01px;
                    height: 0px;
                    left: 4.5px;
                    top: 17.01px;
                
                    border: 1px solid transparent;
                    transform: rotate(-1.6deg);
                
                }
                
            }

        }

        > #logos{
            position: static;
            display: flex;
            width: 144.2px;
            height: 42px;
            left: 0px;
            top: 19px;

            mix-blend-mode: multiply;
       
            img{
                width: 70px;
                margin: 0 5px;
            }

            .logo{
                height: 35px;
                align-self: center;
            }

        }


    }

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;

        position: static;
        width: 152px;
        height: 32px;
        left: 1008px;
        top: 24px;

        background: #D18436;
        border: 3px solid #D18436;
        box-sizing: border-box;
        border-radius: 8px;
    }

    #profile {
        position: absolute;
        padding: 16px;
        border-bottom: 2px solid #ddd;
        background: white;
        z-index: 9999;
        top: 128px;
        height: 300px;
        margin:0 220px;
        width: 440px;
        text-align: center;
        
    }
}

.line {
    width: 100%;
    margin: 16px; 
    border-bottom: 2px solid #ddd;
}

#gallery {
    min-width: 880px;
    padding-bottom: 16px;

}



.button-group {
    margin-left: -8px;
    margin-bottom: -8px;
}

.full-width {
    width: 100%;
}

.margin {
    margin: 16px;
}

.margin-bottom {
    margin-bottom: 16px;
}

.center {
    text-align: center;
}

h4 {
    color:#915731;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px !important;
    font-weight: bolder;
    margin: 16px 0;
}

input {
    border: 2px solid #915731;
    color: #915731;
    background-color: #F8EDE7 !important;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 12px !important;
    border-radius: 8px !important;
    padding: 4px 8px;
    cursor: pointer;
    outline: none !important;
    min-width: 80px;
    max-width: 120px;
    margin-bottom:8px !important;
}

button {
    border: 2px solid #D18436;
    color:white;
    background-color: #D18436 !important;
    box-sizing: border-box;
    font-weight:900;
    font-size: 12px !important;
    border-radius: 8px !important;
    padding: 4px 8px;
    cursor: pointer;
    outline: none !important;
    margin-bottom:8px !important;
}

input::placeholder{
    font-size: 10px;
    color: #915731;
}

.btnBuy{
    color: white;
    background-color: #D18436 !important;
}

.btnOffer{
    background-color: #D18436;
}

.btnSort{
    min-width: 100px;
    background-color: #D18436 !important;

}

select {
    height: 44px;
}

button {
    &:hover {
        background: #fed;
    }
}


#btnConnectWallet{
    color:white !important;
    background: #915731 !important;
    border: 3px solid #D18436 !important;
    box-sizing: border-box !important;
    border-radius: 8px !important;
    animation-name: pulse; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    animation-duration: 1s; 
}

.textCenter{
    text-align: center !important;
}

.containerFlex{
    display:flex;
}

.containerGrid{
    margin:auto;
    width: 950px;
    display: grid;
    grid-template-columns: repeat(5,190px);
}

.cookieToken{
    border: 4px solid #D18436;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:120px;
    height:120px;
    display:block;
    margin:auto;
    cursor: pointer;
}

.backgroundPopUp{
    display: flex;
    position: fixed;
    background:  rgba(25, 25, 26, 0.75);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

.popUp{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 60px 0px 0px;

    position: relative;
    margin: auto;
    width: 700px;
    height: 350px;

    background: #F8EDE7;
    box-shadow: 0px 4px 12px rgba(209, 132, 54, 0.35);
    border-radius: 8px;
}

.popUp img{
        
    position: static;
    height: 350px;
    width: 350px;
    left: 0%;
    right: 50%;
    top: calc(50% - 350px/2);

    border-radius: 8px 0px 0px 8px;
    margin-right: 50px;

}

.popUp img .cookieInfo{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 0px;

    position: static;
    width: 240px;
    height: 350px;
    left: 400px;
    top: 0px;

}

.popUp img .cookieInfo .frame1{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 240px;
    height: 59px;
    left: 0px;
    top: 80px;

}

.popUp img .cookieInfo .frame1 .frameMetaInfoe1{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 149px;
    height: 19px;
    left: 0px;
    top: 0px;

}

.popUp img .cookieInfo .frame1 .frameMetaInfoe1 .cost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 10px 0px;

    position: static;
    width: 62px;
    height: 19px;
    left: 0px;
    top: 0px;

    background: #D18436;
    border-radius: 5px;

}

.popUp img .cookieInfo .frame1 .frameMetaInfoe1 .owner{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 67px;
    height: 15px;
    left: 82px;
    top: 2px;

}

.owner span{
    color: #D18436;
}

span.cost{
    color:white;
    font-size: 12px;
    background: #D18436;
    border-radius: 5px;
    padding: 2px 6px;
}

.userToken{
    font-family: 'Inter', sans-serif !important;
    color:#D18436;
    font-size: 12px;
    font-weight: bolder;
}

.cookieSpinner{
    width: 70px !important;
    position: relative;
    margin: auto;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .8s;
    animation-name: spinner-loading
 }


@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
  
}

@media (min-width: 768px) {
    .token > div {
        img, iframe, video {
            max-width: 75vw;
        }
    }
}
@media (min-width: 992px) {
    .token > div {
        width: 100%;
        text-align: center;
        img, iframe, video {
            max-width: 50vw;
            margin: auto;
        }
        button {
            margin: 8px auto;
        }
    }
}
@media (min-width: 1200px) {
    .token > div {
        img, iframe, video {
            max-width: 25vw;
        }
    }
}


