@font-face {
  font-family: "Fruktur";
  src: url("./fonts/Fruktur-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf");
}

body {
  font-family: "Roboto", "Inter", sans-serif !important;
  background: #f8ede7 !important;
}

#root {
  min-height: 100vh;
  position: relative;
}

.snack {
  z-index: 10000;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 1.2rem;
  box-shadow: 0 0 64px white, 0 0 32px white, 0 0 16px white;
  background: black !important;
  color: white;
  width: 100%;
  padding: 8px;
  padding-bottom: 16px;
  text-align: center;
  animation: slide-in cubic-bezier(0, 0.8, 0.08, 1) 0.8s;
  animation-fill-mode: forwards;
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.9, 0.9);
  }
}

.token {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  animation: fade-in cubic-bezier(0, 0.8, 0.08, 1) 0.8s;
  animation-fill-mode: forwards;
  backdrop-filter: brightness(4) blur(20px);

  > div {
    background: white;
    position: relative;
    width: 100%;
    > h3 {
      text-align: center;
      margin: 0;
      padding: 8px;
    }

    img,
    iframe,
    video {
      width: 100%;
      margin-bottom: -2px;
    }
  }
}
.token-detail {
  padding: 16px;
  button {
    display: block;
    margin-left: 0;
  }
}

.pulse-button {
  animation-name: pulse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}

.show-popup {
  animation-name: show;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-duration: 0.3s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.exit-popup {
  animation-name: exit;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-duration: 3s;
}

@keyframes exit {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 0;
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  background: #f8ede7dd;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  top: 0px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(209, 132, 54, 0.15);
  background: #f8ede7;
}

#containerNavBar {
  padding: 0 30px;
}

#navBar {
  margin: auto;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: static;
  height: 80px;
  left: 30px;
  top: 250px;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: #f8ede7;

    position: static;
    height: 80px;
    top: 0px;

    > .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin: 3px 30px 0 30px;

      position: static;
      height: 17px;
      left: 175px;
      top: 0px;

      font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 14px;
      /* identical to box height */

      color: #915731;

      > .menuSelected {
        position: static;
        width: 32px;
        height: 0px;
        left: 4.5px;
        top: 17.01px;

        border: 1px solid #d18436;
        transform: rotate(-1.6deg);
      }

      > .menuNoSelected {
        position: static;
        width: 32px;
        height: 0px;
        left: 4.5px;
        top: 17.01px;

        border: 1px solid transparent;
        transform: rotate(-1.6deg);
      }
    }

    > #logos {
      position: static;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 48px;
      left: 0px;
      margin-right: 30px;

      .logo {
        margin-top: 3px;
        height: 40px;
        align-self: center;
      }
    }
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;

    position: static;
    min-width: 192px;
    max-width: 240px;
    font-size: 14px !important;
    height: 42px;
    left: 1008px;
    top: 24px;

    background: #d18436;
    border: 3px solid #d18436;
    box-sizing: border-box;
    border-radius: 8px;
  }
}

.line {
  width: 100%;
  margin: 16px;
  border-bottom: 2px solid #ddd;
}

#gallery {
  min-width: 880px;
  padding-bottom: 16px;
}

.center {
  text-align: center;
}

h4 {
  color: #915731;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px !important;
  font-weight: bolder;
  margin: 16px 0;
}

input {
  border: 1px solid #d18436;
  border-right: 0px;
  color: #915731;
  background-color: #f8ede7 !important;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 12px !important;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: text;
  outline: none !important;
  min-width: 80px;
  max-width: 120px;
}

button {
  border: 2px solid #d18436 !important;
  color: white;
  background-color: #915731;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 10px !important;
  padding: 4px 8px;
  cursor: pointer;
  outline: none !important;
}

input::placeholder {
  font-size: 10px;
  color: #915731;
}

.btnSort {
  min-width: 100px;
  background-color: #d18436 !important;
}

.btnConnectWallet {
  color: white !important;
  background: #915731 !important;
  border: 3px solid #d18436 !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
}

.textCenter {
  text-align: center !important;
}

.textWhite {
  color: white;
}

.textBolder {
  font-weight: bolder;
}

.containerFlex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.justifyContentCenter {
  justify-content: center;
}

.containerGrid {
  margin: auto;
  width: 950px;
  display: grid;
  grid-template-columns: repeat(5, 190px);
}

.cookieToken {
  border: 4px solid #d18436;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
}

.backgroundPopUp,
.backgroundPopUp2 {
  display: flex;
  position: fixed;
  background: rgba(25, 25, 26, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 50px 50px 0px;

  position: relative;
  margin: auto;
  width: 700px;
  height: 350px;

  background: #f8ede7;
  box-shadow: 0px 4px 12px rgba(209, 132, 54, 0.35);
  border-radius: 8px;
}

.popUp img {
  position: static;
  height: 350px;
  width: 350px;
  left: 0%;
  right: 50%;
  top: calc(50% - 350px / 2);

  border-radius: 8px 0px 0px 8px;
  margin-right: 50px;
}

.popUp .cookieInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-AROUND;
  align-items: flex-start;
  padding: 40px 0px;

  position: static;
  width: 240px;
  height: 350px;
  left: 400px;
  top: 0px;
}

.popUp .cookieInfo .frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 240px;
  height: 59px;
  left: 0px;
  top: 80px;
}

.popUp .cookieInfo .frame1 .frameMetaInfoe1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  width: 149px;
  height: 19px;
  left: 0px;
  top: 0px;
}

.popUp .cookieInfo .frame1 .frameMetaInfoe1 .cost {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 10px 0px;

  position: static;
  width: 62px;
  height: 19px;
  left: 0px;
  top: 0px;

  background: #d18436;
  border-radius: 5px;
}

.popUp .cookieInfo .frame1 .frameMetaInfoe1 .owner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 67px;
  height: 15px;
  left: 82px;
  top: 2px;
}

.owner span {
  color: #d18436;
}

span.cost {
  color: white;
  font-size: 12px;
  background: #d18436;
  border-radius: 5px;
  padding: 2px 6px;
}

.userToken {
  font-family: "Inter", sans-serif !important;
  color: #d18436;
  font-size: 12px;
  font-weight: bolder;
}

.cookieSpinner {
  width: 70px !important;
  margin: auto;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.8s;
  animation-name: spinner-loading;
  z-index: -1;
}

button.bl {
  border-left: #915731 !important;
}

@keyframes spinner-loading {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
