
$halfw: 400px;
$margin-fix: -16px;

@font-face {
    font-family: 'Fruktur';
    src: url('./fonts/Fruktur-Regular.ttf');
}

::-webkit-scrollbar {
    width: 0;
}

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
html {
    overflow: hidden;
}
body {
    margin: 0;
    width: 100vw;
    height: auto;
    overflow-y: scroll;
    font-family: 'Inter', sans-serif !important;
    background: #F8EDE7
}

#root {
    z-index: 1000;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    padding: 16px 0;
    background: #F8EDE7;
    > div {
        background: #F8EDE7;
    }
    &:before {
        z-index: -1;
        content: '';
        position: fixed;
        left: calc(50% - 400px);
        top: 0;
        width: 100vw;
        height: 100%;
        box-shadow:
            0 0 4px rgba(0, 0, 0, 0.25),
            0 0 16px rgba(0, 0, 0, 0.1),
            0 0 64px rgba(0, 0, 0, 0.1);
    }
}

.background {
    position: fixed;
    opacity: 0.05;
    transform: translateX(-50vw) translateY(-50vw) rotate(-10deg);
    width: 200vw;
    height: 200vh;
    background: url('./img/near_logo.png') !important;
    background-size: 400px !important;
    z-index: -1;
}


.snack {
    z-index: 10000;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 1.2rem;
    box-shadow: 0 0 64px white, 0 0 32px white, 0 0 16px white;
    background: black !important;
    color: white;
    width: 100%;
    padding: 8px;
    padding-bottom: 16px;
    text-align: center;
    animation: slide-in cubic-bezier(0, 0.8, 0.08, 1) 0.8s;
    animation-fill-mode: forwards;
}



@keyframes spinner { 
    from 
    { 
      transform: rotateY(0deg); 
    } 
    to { 
      transform: rotateY(-360deg); 
    } 
  } 

@keyframes pulse { 
from 
{ 
    transform: scale(1, 1); 
} 
to { 
    transform: scale(1.15, 1.15);
} 
} 


.token {
    position: fixed;
    top: 0; left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    animation: fade-in cubic-bezier(0, 0.8, 0.08, 1) 0.8s;
    animation-fill-mode: forwards;
    backdrop-filter: brightness(4) blur(20px);
    
    > div {
        

        background: white;
        position: relative;
        width: 100%;
        > h3 {
            text-align: center;
            margin: 0;
            padding: 8px;
        }
    
        img, iframe, video {
            width: 100%;
            margin-bottom: -2px;
        }
    }

   
}
.token-detail {
    padding: 16px;
    button {
        display: block;
        margin-left: 0;
    }
}


.pulse-button {
animation-name: pulse; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    animation-duration: 1s; 
}


.loading {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        animation-name: spinner; 
        animation-timing-function: linear; 
        animation-iteration-count: infinite; 
        animation-duration: 2s; 
        width: 300px;
    }
}

#guest {
    margin-top: 96px;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#menu {
    position: relative;
    background: #F8EDE7;
    height: 80px;
    width: 100vw;
    margin-top: -16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    > div {
        padding: 16px;
        width: 50%;
        background: #F8EDE7;
    }
    > div:nth-child(1) {
        text-align: left;
    }
    > div:nth-child(2) {
        text-align: right;
    }
    img {
        width: 70px;
        cursor: pointer;
        outline: none !important;
    }

    #profile {
        position: absolute;
        padding: 16px;
        border-bottom: 2px solid #ddd;
        background: white;
        z-index: 9999;
        top: 128px;
        left: 0;
        width: 100vw;
        text-align: center;
    }
}

.line {
    width: 100%;
    margin: 16px; 
    border-bottom: 2px solid #ddd;
}

#tabs {
    position: relative;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    > div {
        height: 100%;
        width: 100%;
        line-height: 48px;
        text-align: center;
    }
}
span.links{
    position: static;
width: 42px;
height: 14px;
left: 0px;
top: 0px;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.05em;

color: #915731;
}
#gallery {
    width: 100vw;
    
    padding-bottom: 16px;
    .item {
        position: relative;
        background: white;
        border-bottom: 2px solid #ddd;
        padding: 16px;
        padding-top: 0;
        margin-bottom: 16px;
        img {
            width: 100vw;
            margin-left: $margin-fix;
            margin-bottom: 8px;
        }
        button {
            margin: 0;
        }
        .offers {
            height: 48px;
            border-top: 1px solid #ddd;
            padding-top: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

#contract {
    width: 100vw;

    position: relative;
    background: white;
    
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        width: 100%;
        margin-bottom: 16px;
    }
}

.button-group {
    margin-left: -8px;
    margin-bottom: -8px;
}

.full-width {
    width: 100%;
}

.margin {
    margin: 16px;
}

.margin-bottom {
    margin-bottom: 16px;
}

.center {
    text-align: center;
}


a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: rgb(32, 64, 255, 1)
}

h4 {
    margin: 16px 0;
}

button, input, select {
    border: 2px solid #D18436;
    color:#D18436;
    background-color: #F8EDE7 !important;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 12px !important;
    border-radius: 40px !important;
    padding: 0px 15px;
    cursor: pointer;
    outline: none !important;
    min-width: 150px;
    margin-bottom:16px !important;
}

button, select {
    background: white;
    margin: 8px;
}

select {
    height: 44px;
}

button {
    &:hover {
        background: #fed;
    }
}

input {
    margin: 8px 0;
    width: 50%;
}

#btnConnectWallet{
color:white !important;
background: #915731 !important;
border: 3px solid #D18436 !important;
box-sizing: border-box !important;
border-radius: 8px !important;
}

.cookieToken{
    border: 4px solid #D18436;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.backgroundPopUp{
    display: flex;
    position: fixed;
    background:  rgba(25, 25, 26, 0.75);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

.popUp{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 60px 0px 0px;

    position: relative;
    margin: auto;
    width: 700px;
    height: 350px;

    background: #F8EDE7;
    box-shadow: 0px 4px 12px rgba(209, 132, 54, 0.35);
    border-radius: 8px;
}

.popUp img{
    /* Image */


position: static;
height: 350px;
width: 350px;
left: 0%;
right: 50%;
top: calc(50% - 350px/2);

border-radius: 8px 0px 0px 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin-right: 50px;
}

.popUp img .cookieInfo{
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 0px;

    position: static;
    width: 240px;
    height: 350px;
    left: 400px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 50px;
}

.popUp img .cookieInfo .frame1{
   /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 240px;
    height: 59px;
    left: 0px;
    top: 80px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 25px 0px;
}

.popUp img .cookieInfo .frame1 .frameMetaInfoe1{
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 149px;
    height: 19px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;
}

.popUp img .cookieInfo .frame1 .frameMetaInfoe1 .cost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 10px 0px;

    position: static;
    width: 62px;
    height: 19px;
    left: 0px;
    top: 0px;

    background: #D18436;
    border-radius: 5px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
}

.popUp img .cookieInfo .frame1 .frameMetaInfoe1 .owner{
   /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 67px;
    height: 15px;
    left: 82px;
    top: 2px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 20px; 
}

.owner span{
    color: #D18436;
}

span.cost{
    color:white;
    font-size: 12px;
    background: #D18436;
    border-radius: 5px;
    padding: 2px 6px;
}

.userToken{
    font-family: "Fruktur";
    color:#D18436;
    font-size: 12px;
}

#cookieSpinner{
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .8s;
    animation-name: spinner-loading
 }

@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}

@media (min-width: 768px) {
    .token > div {
        img, iframe, video {
            max-width: 75vw;
        }
    }
}
@media (min-width: 992px) {
    .token > div {
        width: 100%;
        text-align: center;
        img, iframe, video {
            max-width: 50vw;
            margin: auto;
        }
        button {
            margin: 8px auto;
        }
    }
}
@media (min-width: 1200px) {
    .token > div {
        img, iframe, video {
            max-width: 25vw;
        }
    }
}


